__pycache__/
*.py[cod]
.venv/
venv/
env/

*.pt
*.pth
*.onnx
*.engine
*.trt
*.cache

road_signs_project/
runs/
wandb/

output_inference.mp4
data

inference.ipynb
install_yt_clips.py

.vscode/
.idea/
.DS_Store

results_engine.txt
results_pt.txt

output_inference*